// custom SCSS (or CSS) goes here

:root {
  --bg: #ffffff;
  --fg: #1e1e1e;
  --accent: #10a37f;
  --radius: 0.75rem;
}

a, .main-content .anchor-heading svg, .search-result-doc .search-result-icon, .search-input:focus+.search-label .search-icon, .nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
  color: #001971;
}

// ====== LAYOUT ======

// Navigation
@media (min-width: 66.5rem) {
  .side-bar {
    width: 16.5rem;
  }
  .side-bar+.main {
      margin-left: 16.5rem;
  }
  .main {
      max-width: 100%;
  }
}

.side-bar {
  background-color: #f9f9f9;
}

.site-logo {
  background-size: cover;
}
